[Desktop Entry]
Encoding=UTF-8
Name=DBR Daisy Book Reader
Name[es]=DBR Daisy Book Reader
Name[gl]=DBR Daisy Book Reader
Comment=Read Daisy Talking Books
Comment[es]=Lee Libros Daisy hablados
Comment[gl]=Le Libros Falados en Daisy
Exec=dbr
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;

